/* @override 
	http://thegunclubbook.com/css/gunclub.css */

/* GunClub CSS */

body {
	background: url(/images/Duncan_bg.jpg) no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	color: white;
}

 /**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 600; }

h1.page-heading {
	text-transform: uppercase;
	font-weight: 900;
	font-size: 50pt;
	line-height: 50pt;
}


.site-header {
  border-top: none;
  border-bottom: none;
  min-height: 56px;
  position: relative; }

.bookcover {
    text-align: center;
}
.bookcover img {
    width: 50%;
    height: auto;
    max-width: 800px;
}


.red {
	color:  red;
}