/* GunClub CSS */

body {
	background: url(/images/Duncan_bg.jpg) no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	color: white;
}

.site-header {
  border-top: none;
  border-bottom: none;
  min-height: 56px;
  position: relative; }

.bookcover {
    text-align: center;
}
.bookcover img {
    width: 50%;
    height: auto;
    max-width: 800px;
}