/* @override 
	http://thegunclubbook.com/css/gunclub.css */

/* GunClub CSS */

body {
	background: url(/images/Duncan_bg.jpg) no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	color: white;
     font-family: "sutro",sans-serif;
}

 /**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 600; }

h1.page-heading {
	text-transform: uppercase;
	font-weight: 900;
	font-size: 70pt;
	line-height: 80pt;
    font-family: "bourbon",sans-serif;
    margin-bottom: 30px;

}

a {
    color: #DB263A;
}

a:hover {
    color: #E96D8A;
    text-decoration: none;
}

p {
    font-size: 14pt;
    line-height: 16pt;
}

.intro {
    font-size: 16pt;
    line-height: 22pt;
}



.site-header {
  border-top: none;
  border-bottom: none;
  min-height: 56px;
  position: relative; }

.bookcover {
    text-align: left;
    margin: 20px;
}
.bookcover img {
    width:35%;
    height: auto;
    max-width: 600px;
    background-color: #ccc;
    padding: 10px;
    box-shadow: 10px 10px 20px black;
}


.red {
	color:  #DB263A;
}